<section>
    <div class="bg-holder" style="background-image:url(assets/images/article-bg.png);background-position:right center;background-size:auto;"></div>
    <!--/.bg-holder-->
    <div class="container-lg">
      <div class="bg-holder" style="background-image:url(assets/images/dot-2.png);background-position:left top;background-size:initial;margin-top:120px;margin-left:-35px;"></div>
      <!--/.bg-holder-->
      <div class="row flex-center">
        <div class="col-auto text-center">
          <h2 class="fw-bold">Check out our latest article</h2>
          <hr class="mx-auto text-dark" style="height:2px;width:50px" />
        </div>
      </div>
      <div class="row h-100 justify-content-center pt-6">
        <div class="col-12 col-sm-9 col-md-4 mt-4">
          <div class="card h-100 rounded-3 shadow"><img src="assets/images/article-1.png" alt="" />
            <div class="card-body p-4 text-center text-md-start">
              <h5 class="fw-bold">Disease detection</h5>
              <p class="card-text">In this case, the role of the health laboratory is very important to do a disease detection...</p><a class="stretched-link text-decoration-none" href="#" role="button">Read more<svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-9 col-md-4 mt-4">
          <div class="card h-100 rounded-3 shadow"><img src="assets/images/article-2.png" alt="" />
            <div class="card-body p-4 text-center text-md-start">
              <h5 class="fw-bold">Herbal medicines </h5>
              <p class="card-text">Herbal medicine is very widely used at this time because of its very good for your health...</p><a class="stretched-link text-decoration-none" href="#" role="button">Read more<svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-9 col-md-4 mt-4">
          <div class="card h-100 rounded-3 shadow"><img src="assets/images/article-3.png" alt="" />
            <div class="card-body p-4 text-center text-md-start">
              <h5 class="fw-bold">Natural care </h5>
              <p class="card-text">A healthy lifestyle should start from now and also for your skin health.There are some...</p><a class="stretched-link text-decoration-none" href="#" role="button">Read more<svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>
            </div>
          </div>
        </div>
        <div class="text-center pt-4 z-index-2"><button class="btn btn-lg btn-outline-primary rounded-pill z-index-2 hover-top" type="submit">View all</button></div>
      </div>
    </div>
  </section>
  <section class="py-6 pt-7 bg-primary-gradient">
    <div class="bg-holder" style="background-image:url(assets/images/dot.png);background-position:left bottom;background-size:auto;filter:contrast(1.5);"></div>
    <!--/.bg-holder-->
    <div class="bg-holder" style="background-image:url(assets/images/dot-2.png);background-position:right top;background-size:auto;margin-top:-75px;"></div>
    <!--/.bg-holder-->
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 order-0 order-sm-0 pe-6"><a class="text-decoration-none" href="#"><img class="img-fluid me-2" src="assets/images/footer-logo.png" alt="" /><span class="fw-bold fs-1 text-light">Jassa</span></a>
          <p class="mt-3 text-white">Jassa provides progressive, and affordable healthcare, accessible on mobile and online for everyone</p>
        </div>
        <div class="col-4 col-md-4 col-lg mb-3 order-2 order-sm-1">
          <h6 class="lh-lg fw-bold text-light">Company</h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">About</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Testimonials</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Find a doctor</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Apps</a></li>
          </ul>
        </div>
        <div class="col-4 col-md-4 col-lg mb-3 order-3 order-sm-2">
          <h6 class="lh-lg fw-bold text-light"> Region </h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Indonesia</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Singapore</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Guide</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Hongkong</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Canada</a></li>
          </ul>
        </div>
        <div class="col-4 col-md-4 col-lg mb-3 order-1 order-sm-3">
          <h6 class="lh-lg fw-bold text-light">Help </h6>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Help center</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Contact support</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Guide</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Instructions</a></li>
            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">How it works</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <p class="mb-0">&copy; This template is made with&nbsp;<svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#458FF6" viewBox="0 0 16 16">
                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
              </svg>&nbsp;by&nbsp;<a class="text-black" href="https://therichpost.com/" target="_blank">Jassa </a></p>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>