<section class="py-8">
    <div class="bg-holder" style="background-image:url(assets/images/services-bg.png);background-position:center left;background-size:auto;"></div>
    <!--/.bg-holder-->
    <div class="bg-holder" style="background-image:url(assets/images/dot-2.png);background-position:center right;background-size:auto;margin-left:-180px;margin-top:20px;"></div>
    <!--/.bg-holder-->
    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <h2 class="fw-bold">Our services</h2>
          <hr class="w-25 mx-auto text-dark" style="height:2px;" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-9 col-xl-8 text-center">
          <p>We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
        </div>
      </div>
      <div class="row justify-content-center h-100 pt-7 g-4">
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/search.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Search doctor</h4>
                <p class="card-text">Choose your doctor from thousands of specialist, general, and trusted hospitals</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/online-pharmacy.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Online pharmacy</h4>
                <p class="card-text">Buy your medicines with our mobile application with a simple delivery system</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/consultation.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Consultation</h4>
                <p class="card-text">Free consultation with our trusted doctors and get the best recomendations</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/details-info.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Details info</h4>
                <p class="card-text">You can get 24/7 urgent care for yourself or your children and your lovely family</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/emergency-care.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Emergency care</h4>
                <p class="card-text">Track and save your medical history and health data </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/images/tracking.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Tracking</h4>
                <p class="card-text">Track and save your medical history and health data </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center py-4"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn more </button></div>
      </div>
    </div>
  </section>