<div class="container mt-4">
  <button class="btn btn-primary mb-3" (click)="adTheropy()">Ajouter Theropy</button>
  
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let theropy of theropies">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="theropy.imgUrl" alt="{{theropy.name}}">
        <div class="card-body">
          <h5 class="card-title">{{theropy.name}}</h5>
          <p class="card-text">{{theropy.description}}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-danger" (click)="deleteTheropy(theropy.id)">Supprimer</button>
            <button class="btn btn-primary" (click)="editTheropy(theropy.id)">Éditer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
